@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(37, 37, 37);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.rem;
}

.container{
   min-height: 72vh;
    background-color: black;
    color: rgb(0, 0, 0);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
  
   padding-right: 321px;
   
}



.bottom{
    position: absolute;
    bottom: 0;
    height: 189px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
   width:1190px;
   margin-top: 77px;
   margin-bottom: 30px;
   border-radius: 13px;
  
}
.bg{
    height: 72px;
    width: 34px;
    top: 256px;
}



.container{
    min-height: 75vh;
}
#myProgressBar{
    width: 83vw;
    text-align: center;
    border-radius: 4px;
    font-size: larger;

}
.songitemcontainer{
   margin-top: 5px;


}


.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(78, 78, 78);
    width: 688px;
    color: rgb(255 255 255);
    margin: 12px 0px;
   border-radius:12px;
   
   justify-content: space-between;
   align-items: center;
   background-color:#000000ed;
     font-size: larger;
}
.songItem img{
    width: 43px;
    margin: 0px 23px;
    border-radius: 34px;
}
.icons{
    display:flex;
    height:12px;
    width:6px;
    font-size:22px;
    margin:16px;
   margin-right:79px;
   color: rgb(225, 225, 23);
    
 }
.timestamp{

    margin: 0px 23px;
}
.songInfo{
position: absolute;
left: 0px;
}
#hd{
    color: wheat;
    text-align: center;
    margin-top: 8px;
}
#mastersongname{
    margin-left:20px;
    color:#46dbe2
 }
 #gif{

    margin-left: 64px;
 }
 #spotif{
    font-size: larger;
 }
#hm hover{
    font-size: 32px;
    border: 2px solid gray;


}
#hm{
    font-size: 24px;
}